@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

h2{
    font-family: 'Allison', cursive;
    font-size: 60px;
}



button{
    padding: 5px 18px;
    background-color: red;
    color: white;
    margin-right: 20px;
    border:none;
    border-radius: 15px;
}

.card {
    border: 1px lightgrey solid;
    padding: 10px;
    border-radius: 10px;
    margin-bottom:10px
}